@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes moveup {
    from { top: 3%; }
    to   { top: -2%; }
}
h3 {
  color: black;
  font-family: aktiv-grotesk-regular, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  -webkit-animation: fadein 1s;
}
#mdiv {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  left:8%;
  top: 5%;
  -webkit-animation: fadein 1s;
}
#mdiv:hover {
  width: 25px;
  height: 25px;
  background-color: #f095bf;
  border: 1px solid black;
}
.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}
.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}
#tn{
	-webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
 	filter: drop-shadow(2px 2px 0 black) 
    drop-shadow(6px 6px 0 black);
    position: absolute;
    left: 12.5%;
    top: -2%;
    width: 900px;
    opacity: 1;
    -webkit-animation: fadein 1s;
    -webkit-animation: moveup 1s;
    animation-fill-mode: forwards; 
}
#star:hover{
    -webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
 	filter: drop-shadow(2px 2px 0 black) 
    drop-shadow(2px 2px 0 black);
}
#star{
    position: absolute;
    left: 68%;
    top: 36%;
    width: 100px;
    opacity: 1;
    -webkit-animation: fadein 3s;
}
#lefty{
  text-align: left;
  position: absolute;
  left: 8.5%;
  top: 74%;
}
#lefty:hover{
  -webkit-filter: drop-shadow(1px 1px 0 #f095bf)
  drop-shadow(2px 2px 0 #f095bf);
  filter: drop-shadow(-2px 2px 0 #f095bf) 
  drop-shadow(1.5px 1.5px 0 #f095bf);
}

.info{
  text-align: right;
}
#attraction{
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  position: absolute;
  top: 60%;
  right: 7%;
  opacity: 0;
}
#city{
  font-family: agenda, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  top: 68%;
  right: 7%;
  opacity: 0;
}
.star{
    -webkit-animation: fadein 1s;
    width: 45px;
}
.star:hover{
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(2px 2px 0 black) 
  drop-shadow(1.5px 1.5px 0 black);
  animation-fill-mode: forwards;
  animation-play-state: running;
}
#seattle{
  position: absolute;
  left: 23%;
  top: 16%;
}
#sanluis{
  position: absolute;
  left: 19%;
  top: 45%;
}
#la{
  position: absolute;
  left: 21%;
  top: 51%;
}
#calipatria{
  position: absolute;
  left: 24%;
  top: 58%;
}
#santa{
  position: absolute;
  left: 36%;
  top: 53%;
}
#bloom{
  position: absolute;
  left: 51%;
  top: 29%;
}
#stl{
  position: absolute;
  left: 54%;
  top: 47%;
}
#memphis{
  position: absolute;
  left: 55%;
  top: 56%;
}
#nash{
  position: absolute;
  left: 59%;
  top: 53%;
}
#pigeon{
  position: absolute;
  left: 63%;
  top: 54%;
}
#atlanta{
  position: absolute;
  left: 62%;
  top: 60%;
}
#orlando{
  position: absolute;
  left: 68%;
  top: 76%;
}
#niagra{
  position: absolute;
  left: 68%;
  top: 33%;
}
#baltimore{
  position: absolute;
  left: 70%;
  top: 42%;
}
#atlantic{
  position: absolute;
  left: 72.5%;
  top: 39%;
}
#ny{
  position: absolute;
  left: 72%;
  top: 34%;
}























