@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.grid-container{
	margin: 1% 18% 0 8%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2px;
	grid-template-rows:repeat (2, 100px);
	grid-row-gap: 3px;
}

.text{
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: center;
}
.image{
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
	grid-row-start: 2;
	grid-row-end: 3;
}
h1 {
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 70px;
  width: 30%;
  -webkit-animation: fadein 1s;
}
h2 {
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  -webkit-animation: fadein 1s;
}
#enter:hover{
	-webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
 	filter: drop-shadow(2px 2px 0 black) 
    drop-shadow(2px 2px 0 black);
}
#enter{
	top: 5%;
	scale: .3;
}





