
body {
  background-color: #EEFF30;
}
img.map{
  position: absolute;
  width: 100%;
  height:100%;
  left: -10%;
  top: 0%;
  opacity:0%;
}
img.tn{
  position: absolute;
  width: 210%;
  left: -120%;
  top: 15%;
  opacity:100%;
}
img.race{
  position: absolute;
  left: 7%;
  top: 23%;
  width:37%;
}
img.alligator{
  position: absolute;
  left: 45%;
  top: 26%;
  width:37%;
}
img.hollywood{
  position: absolute;
  left: 48%;
  top: 44%;
  width:37%;
}
img.wonder{
  position: absolute;
  left: 15%;
  top: 51%;
  width:37%;
}
img.titanic{
  position: absolute;
  left: -10%;
  top: 38%;
  width:37%;
}
h2{
  color: #FDFCEE;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left:25%;
  top:38%;
}








