body {
  margin: 2em;
  background-color: #FF93D1;
  margin-bottom:100px;
}

h1 {
  color: #EEFF30;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
}
h2{
  color: #EEFF30;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  text-align: center;
  
}
p{
  color: white;
  width:280px;
  font-size:20px;
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.block {
  height: 100%;
  width: 100%;
  left:0%;
/*  background-color: pink;*/
  background-color: black;
  position: absolute;
  top: 300%;
  opacity:1;
}
#x{
  position: absolute;
  width:3%;
  left:10%;
  top: 1%;
  text-align: right;
/*  transform: rotate(90deg);*/
  font-family: bilo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  transform: scale(1.3, 1);
  color: white;
  -webkit-animation: fadein 1s;
}
#arrow{
  position: absolute;
  left: 2%;
  word-spacing: 100vw;
  top: 1.5%;
  text-align: right;
}
@-webkit-keyframes moveup {
    from { top: 10%; }
    to   { top: 5%; }
}
#title{
  position: absolute;
  left:5%;
  width: 90%;
  word-spacing: 1vw;
  text-align: center;
  line-height: 1.3;
  -webkit-animation: fadein 1s;
  -webkit-animation: moveup 1s;
  animation-fill-mode: forwards;  
}
@-webkit-keyframes moveup2 {
    from { top: 37%; }
    to   { top: 32%; }
}
#image1{
  position: absolute;
  width: 100%;
  left:0%;
  top:35%;
  -webkit-animation: fadein 2s;
  -webkit-animation: moveup2 2s;
  animation-fill-mode: forwards;  
}
@-webkit-keyframes moveup3 {
    from { top: 72%; }
    to   { top: 67%; }
}
#text1{
  position: absolute;
  top: 65%;
  width: 75%;
  left: 12.5%;
  text-align: left;
  -webkit-animation: fadein 3s;
  -webkit-animation: moveup3 3s;
  animation-fill-mode: forwards;  
}
#subtitle1{
  width:80%;
  left:10%;
  position: absolute;
  top: 113%;
  opacity: 0;
}
#gator{
  position: absolute;
  width:90%;
  left: 5%;
  text-align: left;
  position: absolute;
  top: 130%;
  opacity:0;
}
#text2{
  position: absolute;
  top: 168%;
  width: 75%;
  left: 12.5%;
  text-align: left;
}
#live{
  position: absolute;
  width:90%;
  left: 5%;
  text-align: left;
  position: absolute;
  top: 220%;
  opacity:0;
}
#text2b{
  position: absolute;
  width: 75%;
  left: 12.5%;
  top: 265%;
  text-align: left;
  opacity: 0;
}
#subtitle2{
  width:80%;
  position: absolute;
  top: 116%;
}
#text3{
  position: absolute;
  top: 123%;
  width: 75%;
  left: 12.5%;
  text-align: left;
}
#america{
  position: absolute;
  top: 130%;
  width: 60%;
  left: 25%;
  text-align: left;
}
#bear{
  position: absolute;
  top: 150%;
  width: 47%;
  left: 1%;
  text-align: left;
}
#subtitle3{
  width:80%;
  position: absolute;
  top: 177%;
}
#sale{
  position: absolute;
  top: 182%;
  width: 70%;
  left: 15%;
  text-align: left;
}
#towels{
  position: absolute;
  top: 210%;
  width: 110%;
  left: -5%;
  text-align: left;
}
#weird{
  position: absolute;
  top: 226%;
  width: 90%;
  left: 5%;
  text-align: left;
}
.button {
  height: 5%;
  width: 60%;
  background-color: black;
  position: absolute;
  top: 276%;
  left: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: #FDFCEE;
}
#button{
  width: 60%;
  position: absolute;
  top: 275%;
  left: 30%;
  color: #FDFCEE;
  font-size: 20px;
}
.bottom {
  height: 5%;
  width: 60%;
  background-color: #FF93D1;
  position: absolute;
  top: 281%;
  left: 20%;
}











