body {
  margin: 2em;
  background-color: #FF93D1;
  margin-bottom:100px;
}

h1 {
  color: #FDFCEE;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}
h2{
  color: #FDFCEE;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  
}
p{
  font-family: jaf-domus, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #EEFF30;
  width:280px;
}
#arrow{
  position: absolute;
  left: 2%;
  word-spacing: 100vw;
  top: 1.5%;
  text-align: right;
}
#title{
  position: absolute;
  left: 28%;
  width: 60%;
  word-spacing: 100vw;
  top: 3%;
  right: 10%;
  text-align: right;
}
#image1{
  width: 100%;
  position: absolute;
  left:0%;
  top:18%;
}
#text1{
  position: absolute;
  top: 44%;
  width: 75%;
  left: 12.5%;
  text-align: left;
}
#lobby{
  width: 80%;
  position: absolute;
  left:10%;
  top:63%;
}
#subtitle1{
  position: absolute;
  top: 103%;
  width: 75%;
  left: 12.5%;
  text-align: center;
}
#text2{
  position: absolute;
  top: 110%;
  width: 75%;
  left: 12.5%;
  text-align: left;
}
#fedex{
  width: 80%;
  position: absolute;
  left:10%;
  top:118%;
}
#shadow{
  width: 70%;
  position: absolute;
  left:30%;
  top:163%;
}
#hurricane{
  width: 74%;
  position: absolute;
  left:15%;
  top:194%;
}
#nails{
  width: 100%;
  position: absolute;
  left:-10%;
  top:208%;
}
#subtitle2{
  position: absolute;
  top: 235%;
  width: 75%;
  left: 12.5%;
  text-align: center;
}
#locations{
  width: 100%;
  position: absolute;
  left:0%;
  top:245%;
}
#text3{
  position: absolute;
  top: 277%;
  width: 75%;
  left: 12.5%;
  text-align: left;
}
#outline{
  width: 90%;
  position: absolute;
  left:5%;
  top: 290%;
}
#bubbles{
  width: 100%;
  position: absolute;
  left: 0%;
  top: 350%;
}
#subtitle3{
  position: absolute;
  top: 380%;
  width: 75%;
  left: 12.5%;
  text-align: center;
}
#cool{
  width: 110%;
  position: absolute;
  left: -5%;
  top: 382%;
}
#spin{
  width: 150%;
  position: absolute;
  left: -25%;
  top: 425%;
}
.button {
  height: 5%;
  width: 60%;
  background-color: #EEFF30;
  position: absolute;
  top: 480%;
  left: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}
#button{
  width: 60%;
  position: absolute;
  top: 479%;
  left: 30%;
  color: black;
  font-size: 20px;
}
.bottom {
  height: 5%;
  width: 60%;
  background-color: #EEFF30;
  position: absolute;
  top: 480%;
  left: 20%;
}

















