
body {
  margin: 2em;
  background-color: white;
  margin-bottom:100px;
}
html {
  scroll-behavior: smooth;
}
#section1 {
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: none;
  font-size: 60px;
  width: 10%;
  left: 45%;
  top: 68%;
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  -webkit-animation: fadein 1s;
}
a:link{
  text-decoration: none!important;
  color: black;
}
a:visited{
  color: black
}
#section2 {
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: none;
}
h1 {
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 65px;
}
h2{
  color: white;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  text-align: center;
}
h3{
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}
p{
  color: black;
  width:280px;
  font-size:20px;
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.block1 {
  height: 700%;
  width: 100%;
  left:0%;
  background-color: black;
  position: absolute;
  top:300%;
  opacity:1;
}
.block3 {
  height: 200%;
  width: 100%;
  left:0%;
  background-color: black;
  position: absolute;
  top:1300%;
  opacity:1;
}
#x{
  position: absolute;
  width:3%;
  left:10%;
  top: 1%;
  text-align: right;
/*  transform: rotate(90deg);*/
  font-family: bilo, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
  transform: scale(1.3, 1);
  color: white;
  -webkit-animation: fadein 1s;
  color: black;
/*    font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;*/
}
@-webkit-keyframes moveup {
    from { top: 33%; }
    to   { top: 28%; }
}
#title{
  position: absolute;
  left:5%;
  width: 90%;
  word-spacing: 1vw;
  text-align: center;
  line-height: 1.3;
  -webkit-animation: fadein 1s;
  -webkit-animation: moveup 1s;
  animation-fill-mode: forwards;  
}
#image1{
  width: 100%;
  position: absolute;
  left: 0%;
  top: 112%;
  opacity: 0;
  opacity: 0;
}
#text1{
  position: absolute;
  width: 75%;
  left: 12.5%;
  text-align: left;
  top: 157%;
  opacity: 0%;
  color: black;
  opacity: 0;
}
#rushmore{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 228%;
  opacity: 0;
}
#subtitle1{
  width:80%;
  left:10%;
  position: absolute;
  top: 350%;
  opacity: 0%;
  color: white;
}
#gump{
  width: 90%;
  position: absolute;
  left: 5%;
  top: 415%;
  opacity: 0;
}
#text2{
  position: absolute;
  top:458%;
  width: 75%;
  left: 12.5%;
  text-align: left;
  opacity: 0;
  color: white;
}
#leo{
  width: 90%;
  position: absolute;
  left: 5%;
  top: 515%;
  opacity: 0;
}
#hepburn{
  width: 75%;
  position: absolute;
  left: 12.5%;
  top: 612%;
  opacity: 0;
}
#tom{
  width: 100%;
  position: absolute;
  left: 0%;
  top: 673%;
  opacity: 0;
}
#mj{
  height: 60%;
  position: absolute;
  left: 25%;
  top: 723%;
  opacity: 0;
}
#twilight{
  height: 50%;
  position: absolute;
  left: 18%;
  top: 830%;
  opacity: 0;
}
#dolly{
  width: 85%;
  position: absolute;
  left: 7.5%;
  top: 930%;
  opacity: 0;
}
#subtitle2{
  width:80%;
  left:10%;
  position: absolute;
  top: 1043%;
  opacity: 0%;
  color: black;
  opacity: 0;
}
#text3{
  position: absolute;
  width: 75%;
  left: 12.5%;
  position: absolute;
  top:1125%;
  text-align: left;
}
#locations{
  width: 85%;
  position: absolute;
  left: 7.5%;
  top: 1240%;
  opacity: 0;
}
#subtitle3{
  width:80%;
  left:10%;
  position: absolute;
  top: 1350%;
  opacity: 0%;
  color: white;
}
#hollywood{
  width: 85%;
  position: absolute;
  left: 7.5%;
  top: 1442%;
  opacity: 0;
}

@-webkit-keyframes scale {
  from { scale: 1.0; }
  to   { scale: 3.0; }
}


 @keyframes heartFadeInOut {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

h3 {
/*  height: 5%;*/
  width: 60%;
/*  background-color: #04067B;*/
  position: absolute;
  top: 1480%;
  left: 20%;
  animation-name: heartFadeInOut; 
  animation-iteration-count: infinite;
  animation-duration: 3s;
  color: white;
/*  -webkit-animation: heartbeat 3s;*/
/*  border-style: solid;
  border-width: 5px;
  border-color:  #FB170F;*/
}








