@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes moveup {
    from { top: 33%; }
    to   { top: 30%; }
}
@-webkit-keyframes moveup2 {
    from { top: 59%; }
    to   { top: 56%; }
}
body{
  background-color: white;
}
.grid-container{
	margin: 0% 0% 0 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-template-rows:repeat (2, 40px);
	grid-row-gap: 3px;
}
.block1 {
  height: 100%;
  width: 100%;
  left:0%;
  position: absolute;
  top:100%;
  opacity:1;
}
h1{
  position: absolute;
  color: black;
  font-family: agenda, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 60px;
  width: 40%;
  -webkit-animation: fadein 1s;
  left: 30%;
  text-align: center;
   -webkit-animation: moveup 1s;
  animation-fill-mode: forwards; 
  font-color: #f095bf;
}
h2{
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  -webkit-animation: fadein 1s;
  width: 30%;
  line-height:1.4;
}
h3{
  color: black;
  font-family: agenda, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  font-style: normal;
  -webkit-animation: fadein 1s;
  text-align: center;
}
p{
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 13px;
  font-style: normal;
  -webkit-animation: fadein 1s;
  text-align: left;
}
#arrow{
  text-align: center;
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 100;
  font-size:75px;
  font-style: thin;
}
#arrow:hover{
	-webkit-filter: drop-shadow(0px 6px 0 #f095bf)
}
.subtitle{
  position: absolute;
  width: 40%;
  left: 30%;
  -webkit-animation: moveup2 1.5s;
  animation-fill-mode: forwards; 
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
#section1 {
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: none;
  font-size: 60px;
  width: 100%;
  left: 0%;
  top: 68%;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  -webkit-animation: fadein 1s;
}
a:link{
  text-decoration: none!important;
  color: black;
}
a:visited{
  color: black;
}
#section2 {
  height: 2000px;
  position: absolute;
  top: 100%;
  background-color: none;
  width: 100%;
  left: 0%;
  align-self: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.column {
  float: right;
  width: 45%;
  padding: 5px;
}
.column img {
  margin-top: 2px;
  vertical-align: middle;
  height: 90%;
  vertical-align: center;
}
img{
	align: center;
}

.pic{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3.caption{
  font-color: #f095bf;
}
.caption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 28px;
  color: #f095bf;
}
.description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  -webkit-animation: fadein 1s;
  background-color: #f3e5eb;
  padding: 10px;
}
.tiny{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  -webkit-animation: fadein 1s;
}
#outfit{
  width: 15%;
}
#t2a{
  text-align: center;
}
#rushmore{
  width: 30%;
}
#dolly{
  width: 20%;
}
#t9{
  text-align: center;
}
body{
  background-color: white;
}
#container{
  position: relative;
}
 #lefty{
  text-align: left;
  position: absolute;
  left: 45%;
  position: absolute;
    bottom: -50px;
}
 #right{
  text-align: right;
  position: absolute;
  left: 48%;
  position: absolute;
    bottom: -50px;
}
#lefty:hover{
  -webkit-filter: drop-shadow(1px 1px 0 #f095bf)
  drop-shadow(2px 2px 0 #f095bf);
  filter: drop-shadow(-2px 2px 0 #f095bf) 
  drop-shadow(1.5px 1.5px 0 #f095bf);
}
#right:hover {
  -webkit-filter: drop-shadow(1px 1px 0 #f095bf)
  drop-shadow(-2px -2px 0 #f095bf);
  filter: drop-shadow(2px 2px 0 #f095bf) 
  drop-shadow(1.5px 1.5px 0 #f095bf);
 }
#lefty{
  color: black;
  font-family: aktiv-grotesk-regular, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  -webkit-animation: fadein 3s;
}
#right{
  color: black;
  font-family: aktiv-grotesk-regular, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  -webkit-animation: fadein 3s;
}
body{
  background-color: white;
}











